<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/cust.css">
    <link href="css/main.css" rel="stylesheet" media="all">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
 
 align-items: center;
 text-align: center;
}
th, td {
  padding: 15px;
}
input{
  line-height: 30px;
  text-align: center;
 
}
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-secondary">
        <div class="container">
          <a class="navbar-brand" href="#">Pentos</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
    
                    <li class="nav-item">
                <a class="nav-link" href="" class="disabled">New Project</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Logout</a>
              </li>
      </ul>
      </div>
      </div>
      </nav>
  
<div class="testbox"style="margin: 20px;">
    <form action="/labor" method="POST">
        <h2 style="text-align: center;">TimeLine</h2>
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Your Name" id="name">
          </div>
      
          <div class="form-group">
                <label for="Name">ProjectName:</label>
                <input type="text" class="form-control" name="proj" placeholder="Enter Project Name" id="pname">
              </div>
            
<table style="width:100%">
  <tr>
    <th style="font-size: x-large;">Phase</th>
    <th style="font-size: x-large;">Percentage</th> 
   
  </tr>
  <tr>
       <td> <input  type="text" name="pname1" placeholder="Enter Phase" required/></td>
       <td> <input  type="number" name="percent1" placeholder="Enter the Percentage" required/></td>
  </tr>
  <tr>
    <td> <input  type="text" name="pname2" placeholder="Enter Phase" required/></td>
    <td> <input  type="number" name="percent2" placeholder="Enter the Percentage" required/></td>
</tr>
<tr>
    <td> <input  type="text" name="pname3" placeholder="Enter Phase" required/></td>
    <td> <input  type="number" name="percent3" placeholder="Enter the Percentage" required/></td>
</tr>
<tr>
    <td> <input  type="text" name="pname4" placeholder="Enter Phase" required/></td>
    <td> <input  type="number" name="percent4" placeholder="Enter the Percentage" required/></td>
</tr>
        
</table>
<div class="btn-block">
    <button type="submit" href="/">Submit</button>
  </div>

</form>
</div>
</body>
</html>