<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="css/const.css">
       
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
 
 align-items: center;
 text-align: center;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>

<h2 style="text-align: center;">Schedule</h2>
<p style="font-weight: bold;">Work allotement for the labor group</p>

</body>
</html>